azure-iot-device~=2.7.0
# ->Python3.9.4
opencv-contrib-python==4.5.3.56
asyncio==3.4.3
netifaces==0.10.9
#numpy
requests
tornado==6.1
urllib3==1.24.1
azure-cognitiveservices-vision-face==0.5.0
Pillow
yt_dlp
simplejpeg
scipy==1.7.2
imutils==0.5.4
coils
vidgear==0.2.4
starlette
uvicorn
jinja2
dlib==19.22.1
pipe
flask